/* Media query for screens smaller than 768px (e.g., mobile devices) */
@media screen and (max-width: 767px) {
    /* Adjust styles for smaller screens here */
    table {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 540px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Media query for screens between 768px and 1024px (e.g., tablets) */
@media screen and (max-width: 1500px) {
    /* Adjust styles for tablets here */
    table {
        width: 100%;
        height: 100%;
    }
}